extends layout

block content
	div.container
		div.row
			div.span4.offset4
				center
					h3.title= 'Listing Manager '
						span= '&#946;'

		div.row
			div.span4.offset4.splash
				div.well.well-small
					center= "You cool, Bro?"
				div.well.well-large#are_you_cool
					center
						input(type="text", name="name", placeholder="name").span2
						input(type="password", name="key", placeholder="key").span2
						button.btn.btn-block= "Yes?"
