doctype 5
html
	head
		title= 'Listing Manager'
		meta(name='viewport', content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;")
		link(rel="stylesheet", type="text/css", href="styles.css")

	body
		div
			h1= 'Listings'
			a(href="/api/listings/reset") RESET
			hr

			form(action="", method="", name="add_listing")
				input(type="text", name="listing_type", placeholder="Listing Type")
				input(type="text", name="listing_name", placeholder="Listing Name")
				input(type="text", name="listing_min", placeholder="Minimum: $500")
				input(type="text", name="listing_max", placeholder="Maximum: $2500")
				input(type="submit", value="Add")

		div(class="listings")
			ul
				li(class="listing template")
					h3(class="name")
					h6(class="type")

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
		script(src="client.js")