body {
/*background: -webkit-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
            -webkit-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
            -webkit-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
            -webkit-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
            -webkit-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
            -webkit-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background: -moz-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
            -moz-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
            -moz-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
            -moz-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
            -moz-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
            -moz-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
            linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
            linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
            linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
            linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
            linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-size: 20px 20px;
background-color: #131313;
-pie-background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px / 20px,
                 linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px / 20px,
                 linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px / 20px,
                 linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px / 20px,
                 linear-gradient(90deg, #1b1b1b 10px, transparent 10px) 0 0 / 20px,
                 linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424)
                 0 0 / 20px #131313;
behavior: url(/pie/PIE.htc);*/
background-image:url('/img/bg.jpg');
overflow-x: hidden;

}



.title span { position: relative; font-size: 0.6em; top: 0.6em; left: -0.4em; }

.template { display: none; }
/*.listing { background: #dedede; }
.listing .price { float: right; display: inline-block; height: 1.2em; margin-top: 0.2em; }
.listing .price span { margin: 0 0.2em; }*/

/*
div#cities { border: 1px solid #bbb; display: inline-block; }*/
/*div#cities ul { float: left; padding-right: 1em; min-width: 1em; }*/

/*form { 
	display: inline-block;
	text-align: center;
}*/

.splash .well { background-color: rgba(60, 120, 100, .2); }

.hint { color: #f66; font-size: 0.9em; font-weight: 600; margin-left: 0.5em; padding-right: 0.5em; }

.center { display: inline-block; margin-left: auto; margin-right: auto; }

.listings table { margin-top: 1.5em; }
.listings table thead { background-color: rgba(30, 80, 200, .5); color: #000; }
.lead { margin: 0; }
.lead-sm { font-size: 1em; }
.listings caption { margin-bottom: 2em; }

.listing, li.active a { background-color: rgba(50, 50, 50, .2); }
.listing .name { margin-top: 1px; }

.r_l { font-size: 0.8em; }
.r_l li { margin-bottom: 3em; border-bottom: 1px dotted #aaa; }
.r_l li a { color: #ff0; }

.results { display: inline-block; width: 3.5em; }
button.new_results { cursor: default; margin-right: -0.3em; }

button.view { z-index: 9; }
#resultsModal { display: inline-block; }

@media all and (max-width: 480px), all and (max-device-width: 480px) {

	body { padding: 0; }

	.row { padding-left: 5px; padding-right: 5px; }
	
	.listings { font-size: 0.75em; }

	.listing td { padding: 2px; margin: 0; }

	h5.name { padding: 0; margin: 0; }

	.btn {
	  padding: 12px 9px 10px 9px;
	  font-size: 1em;
	  -webkit-border-radius: 3px;
	     -moz-border-radius: 3px;
	          border-radius: 3px;
	}

	.btn [class^="icon-"],
	.btn [class*=" icon-"] {
	  margin-top: 0;
	}

	.btn-small {
	  padding: 2px 7px 1px 3px;
	  font-size: 0.6em;
	  -webkit-border-radius: 2px;
	     -moz-border-radius: 2px;
	          border-radius: 2px;
	}

	.edit .btn {
		padding: 22px 9px 16px 9px;
	}

	.edit .btn-small {
		padding: 2px 7px 1px 3px;
	}
}

