/*body {
	background-color: #ccc;
	margin: 0;
	padding: 5px;
}*/

.title span { position: relative; font-size: 0.6em; top: 0.6em; left: -0.4em; }

.template { display: none; }
/*.listing { background: #dedede; }
.listing .price { float: right; display: inline-block; height: 1.2em; margin-top: 0.2em; }
.listing .price span { margin: 0 0.2em; }*/

/*
div#cities { border: 1px solid #bbb; display: inline-block; }*/
/*div#cities ul { float: left; padding-right: 1em; min-width: 1em; }*/

/*form { 
	display: inline-block;
	text-align: center;
}*/

.center { display: inline-block; margin-left: auto; margin-right: auto; }

.listings table { margin-top: 1.5em; }
.listings table thead { background-color: #37a; color: #000; }
.lead { margin-bottom: 0; }
.lead-sm { font-size: 1em; }
.listings caption { margin-bottom: 2em; }

.listing .name { margin-top: 1px; }

.r_l { font-size: 0.8em; }
.r_l li { margin-bottom: 3em; border-bottom: 1px dotted #aaa; }
.r_l li a { color: #ff0; }

.results { display: inline-block; width: 3.5em; }
button.new_results :hover { cursor: default; }
#resultsModal { display: inline-block; }